<!-- navigation.component.html -->
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-evenly items-center">
    <div class="text-white text-xl font-bold">
      <img src="assets/images/logo.png" alt="" class="inline w-8" />
      Cricket Pulse
    </div>
    <div class="block lg:hidden">
      <button
        (click)="toggleMenu()"
        class="text-gray-300 hover:text-white focus:outline-none"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:items-center lg:space-x-4">
      <ul class="flex space-x-4">
        <li>
          <a
            [routerLink]="'/home'"
            href="#"
            class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
            ><i class="fa-solid fa-house mr-1"></i> Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/live'"
            href="#"
            class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
            ><i class="fa-solid fa-video mr-1"></i> Live Matches</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/upcoming'"
            href="#"
            class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
            ><i class="fa-solid fa-calendar-days mr-1"></i> Upcoming Matches</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/history'"
            href="#"
            class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
            ><i class="fa-solid fa-clock-rotate-left mr-1"></i> History</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/point-table'"
            href="#"
            class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
            ><i class="fa-solid fa-table-list mr-1"></i> Point Table</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="isMenuOpen" class="lg:hidden bg-gray-800 p-4">
    <ul class="flex flex-col space-y-2">
      <li>
        <a
          [routerLink]="'/home'"
          href="#"
          class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
          ><i class="fa-solid fa-house mr-1"></i> Home</a
        >
      </li>
      <li>
        <a
          [routerLink]="'/live'"
          href="#"
          class="hover:bg-gray-900 text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
          ><i class="fa-solid fa-video mr-1"></i> Live Matches</a
        >
      </li>
      <li>
        <a
          [routerLink]="'/upcoming'"
          href="#"
          class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
          ><i class="fa-solid fa-calendar-days mr-1"></i> Upcoming Matches</a
        >
      </li>
      <li>
        <a
          [routerLink]="'/history'"
          href="#"
          class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
          ><i class="fa-solid fa-clock-rotate-left mr-1"></i> History</a
        >
      </li>
      <li>
        <a
          [routerLink]="'/point-table'"
          href="#"
          class="hover:bg-gray-900 hover:text-white text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out"
          ><i class="fa-solid fa-table-list mr-1"></i> Point Table</a
        >
      </li>
    </ul>
  </div>
</nav>
