<div class="flex justify-center my-4">
  <h1 class="text-4xl font-extrabold text-gray-800">Home page</h1>
</div>
<app-carousel />

<div class="bg-gray-100 flex flex-col items-center py-10">
  <!-- Container for the cards -->
  <div class="w-full max-w-4xl px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card 1 -->
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/babar.jpg"
          alt="Babar Azam"
        />
        <div class="p-6">
          <h2 class="text-xl font-semibold mb-2">
            Babar Azam: The Rising Star
          </h2>
          <p class="text-gray-700 mb-4">
            Babar Azam has become a pivotal figure in Pakistan cricket,
            showcasing remarkable talent and leadership. His performance has
            been instrumental in recent victories and is a key player to watch
            in upcoming tournaments.
          </p>
          <a href="#" class="text-blue-500 hover:text-blue-700">Read More</a>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/kohli.webp"
          alt="Virat Kohli"
        />
        <div class="p-6">
          <h2 class="text-xl font-semibold mb-2">
            Virat Kohli: A Cricket Legend
          </h2>
          <p class="text-gray-700 mb-4">
            Virat Kohli, with his unparalleled batting skills and leadership,
            continues to shine in the cricketing world. His contributions to the
            Indian team and his records are awe-inspiring.
          </p>
          <a href="#" class="text-blue-500 hover:text-blue-700">Read More</a>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/championstrophy.webp"
          alt="Champions Trophy 2025"
        />
        <div class="p-6">
          <h2 class="text-xl font-semibold mb-2">
            Champions Trophy 2025: What to Expect
          </h2>
          <p class="text-gray-700 mb-4">
            The Champions Trophy 2025 promises to be an exciting event with top
            teams competing for glory. As the tournament approaches, fans and
            experts are eagerly anticipating the thrills and action that will
            unfold.
          </p>
          <a href="#" class="text-blue-500 hover:text-blue-700">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
